body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 960px;
    height: auto;
    align-content: center;
    margin: 0 auto;
}
.intro {
    width: 100%;
    background-color: pink;
    border-radius: 7px;
    margin-bottom: 20px;
}
.photo1 {
    border-radius: 110%;
    border: 3px solid black;
}
.photo {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}